/*reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  width: 1000px;
  margin: 0px auto;
  padding: 10px;
}

/*header*/
.upper-header {
  padding: 10px;
  /*debug*/
 background-color: antiquewhite;
  
}

.upper-header > .container {
  display: flex;
 
}
.upper-header .header-items{
  padding: 5px 10px;
  flex-basis: 20%;
  /*debug*/
  background-color: cornflowerblue;
  border: 1px solid black;
}


.upper-header .header-nav {
  display: flex;
  flex-grow: 1;
  text-align: center;
}
.link-items {
  display: inline-block;
}
.upper-header .header-login{
  text-align: right;
}
/*main*/
section {
  padding: 40px;
}

section:nth-child(odd) {
  background-color: rgb(77, 107, 163);
}
section:nth-child(even) {
  background-color: rgb(14, 48, 110);
}

.page-section > .container {
  display: flex;
  padding: 10px 0px;
  margin: auto;
}

.first-column {
  width: 60%;
  height: 40vh;
  background-color: rosybrown;
  margin: auto;
}
.column {
  width: 80%;
  height: 40vh;
}
.lg {
  background-color: blue;
  width: 60%;
}
.sm {
  background-color: red;
  width: 40%;
}
.last-column {
  width: 100%;
  height: 60vh;
  background-color: rgb(7, 68, 68);
  margin: auto;
}

/*footer*/
.page-section.section-footer {
  background-color: rgb(86, 97, 97);
}
.footer-column-big {
  width: 40%;
  height: 40vh;
  background-color: crimson;
}

.footer-column {
  background-color: blueviolet;
  width: 20%;
  border: 1px solid black;
}
.container-footer-logo {
  width: 60%;
  background-color: beige;
  margin: 20px auto;
  padding: 10px 0px;
}

.footer-logo {
  color: wheat;
  background-color: blue;
  display: inline;
}
