/*reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* debug*/
.debug {
  background-color: red;
  border: 1px solid black;
  padding: 5px;
}
.debug .debug {
  background-color: orange;
}
.debug .debug .debug {
  background-color: yellow;
}

/*header*/
.page-header {
  margin: auto;
  padding: 10px;
}
.container {
  max-width: 60%;
  max-width: 1000px;
  margin: 0px auto;
  padding: 10px;
}
.page-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  height: 50px;
}
.logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  text-align: center;
}
.link-items {
  display: inline-block;
}
.login {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
/*main*/
section {
  padding: 40px;
}

section:nth-child(odd) {
  background-color: rgb(77, 107, 163);
}
section:nth-child(even) {
  background-color: rgb(14, 48, 110);
}

.page-section > .container {
  display: flex;
  padding: 10px 0px;
  margin: auto;
}

.first-column {
  width: 60%;
  height: 40vh;
  background-color: rosybrown;
  margin: auto;
}
.column {
  width: 80%;
  height: 40vh;
}
.lg {
  background-color: blue;
  width: 60%;
}
.sm {
  background-color: red;
  width: 40%;
}
.last-column {
  width: 100%;
  height: 60vh;
  background-color: rgb(7, 68, 68);
  margin: auto;
}

/*footer*/
.page-section.section-footer {
  background-color: rgb(86, 97, 97);
}
.footer-column-big {
  width: 40%;
  height: 40vh;
  background-color: crimson;
}

.footer-column {
  background-color: blueviolet;
  width: 20%;
  border: 1px solid black;
}
.container-footer-logo {
  width: 60%;
  background-color: beige;
  margin: 20px auto;
  padding: 10px 0px;
}

.footer-logo {
  color: wheat;
  background-color: blue;
  display: inline;
}
